html {
  font-family: Arial, sans-serif;

  scroll-behavior:smooth;
}

h1, h2 {
  margin: 0;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;

  background-color: black;
}

header nav {
  display: flex;
  gap: 20px;
}

header #logo {
  font-size: 30px;
  color: white;
}

header nav a {
  color: white;
  text-decoration: none;

  position: relative;
}

header nav a .line {
  content: '';

  position: absolute;
  bottom: -3px;
  left: 0;

  height: 1px;
  width: 0;

  background-color: white;
  transition: all 250ms ease-in;
}

header nav a:hover > .line {
  width: 100%;
}

#home {
  height: 70vh;

  position: relative;
  overflow: hidden;
}

#home img {
  position: absolute;
  top: -60px;
  left: 0;

  width: 100%;
  z-index: -1;

  filter: brightness(50%);
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 40px;
  color: white;

  margin: 0 0 10px;
}

#home p {
  font-size: 20px;
  color: white;

  margin: 0 0 20px;
}

#home a {
  font-size: 15px;
  color: white;

  padding: 10px;

  border: none;
  background-color: black;
  text-decoration: none;
}

#home a:hover {
  cursor: pointer;
}

#products {
  background-color: white;
}

.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 10px;
}

#products h1 {
  font-size: 30px;
  text-align: center;

  padding: 20px 0;
}

.product {
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
}

.product h2 {
  margin-bottom: 10px;
  text-align: left;
}

.product img {
  width: 100%;
  border: 2px solid black;
  margin-bottom: 5px;
}

.product button {
  font-size: 15px;
  color: white;

  padding: 10px;

  border: none;
  background-color: black;
}

.product button:hover {
  cursor: pointer;
}

#testimonials {
  padding: 20px;
  background-color: black;
}

#testimonials h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 10px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial span {
  margin-top: 20px;
  color: white;
}

.testimonial p {
  margin-top: 4px;
  font-style: italic;
  color: white;
}

.testimonial div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
}

#contact {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#contact img {
  width: 40%;
  border: 3px solid black;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contact-container div {
  display: flex;
  justify-content: space-between;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

textarea {
  height: 50px;
  resize: none;
}

#contact form div input:first-child {
  margin-right: 15px;
}

#contact input, textarea {
  font-size: 15px;
}

#contact h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

#contact p {
  margin: 0 0 20px 0;
  font-size: 20px;
}

footer {
  font-size: 15px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: black;
}